<div class="header-wrapper">
  <div class="content">
    <div class="site-title"><%= link_to 'Hoover Island', root_url %></div
    ><div class="nav-link">Calendar</div
    ><div class="nav-link">Info</div
    ><div class="nav-link">Regulations</div
    ><div class="nav-link">Photos</div
    ><div class="nav-link"><%= link_to "Weather", weather_url %></div
    ><div class="nav-link"><%= link_to "Logout", logout_path, method: :delete %></div>
  </div>
</div>
