<div class="content page-container green-background">
  <!-- <div class="page-title">Finances</div> -->

  <div class="page-title" style="font-family: 'Playfair Display SC';"><%= fa_icon 'bank' %> Rainy Lake Trust</div>
</div>
