<div class="home-wrapper">
  <div class="background">
    <div class="content">
      <div class="text-box">
        <span class="days-left"><%= @days_left %></span> <%= @days_left_message %>
      </div>
    </div>
  </div>
  <div class="content home">
    Hi <%= current_user.first_name %>.
    <br>
    Some information goes down here.
  </div>
</div>
