.home-wrapper
  .background
    .content
      .text-box
        span.days-left = @days_left
        =< @days_left_message

  .content.home
    ' Hi
    = current_user.first_name
    br
    | Some information goes down here
