.content.page-container
  .page-title Island Weather Center

  .weather-container
    .spinner: i.fa.fa-sun-o.fa-spin.fa-5x.fa-fw

javascript:
  function renderWeather() {
    $.ajax({
      method: 'GET',
      url: '/weather_partial',
      success: function(partialData) {
        $('.weather-container').html(partialData);
      }
    })
  }

  $(document).ready(function() {
    setTimeout(renderWeather, 500)
  });
