<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type='text/css'>
      h1 {
        color: #24632B;
      }
    </style>
  </head>
  <body>
    <h1>Reset Password</h1>
    <p>
      <%= @person.first_name %>, you have requested a password reset email.<br>
    </p>
    <p>
      To visit the site and set a new password, follow this link: <%= @url %>.
    </p>
  </body>
</html>
