<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type='text/css'>
      h1 {
        color: #24632B;
      }
    </style>
  </head>
  <body>
    <h1><%= @year %> Reservations are Open</h1>
    <p>
      A new year is upon us.<br>
    </p>
    <p>
      To make a reservation for the <%= @year %> season, follow this link: <%= @url %>.
    </p>
  </body>
</html>
