/*
 *= require_self
 *= require_tree .
 */

/* Border Box Sizing
======================================================= */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* CSS Reset
======================================================= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: sans-serif;
}
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Hardware acceleration
======================================================= */

.boost {
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

/* SCSS variables
======================================================= */

$green: #24632B;
$darkblue: #0F3E7F;
$lightblue: #81CBFF;
$lightorange: #EB7F40;
$orange: #FF5A27;
$gray: #424241;

$header-height: 70px;
$content-width: 960px;

/* General
======================================================= */

.content {
  width: $content-width;
  margin: 0 auto;
}
a {
  color: inherit;
  text-decoration: none;
}
.page-title {
  font-weight: 600;
  font-size: 34px;
  color: $darkblue;
  margin-bottom: 10px;
}


/* Header
======================================================= */

.header-wrapper {
  // background-color: $green;
  height: $header-height;
  color: $gray;
}
.site-title {
  display: inline-block;
  line-height: $header-height;
  font-size: 30px;
  font-weight: 600;
  color: $green;
  padding-right: 70px;
}
.nav-link {
  display: inline-block;
  font-size: 18px;
  padding-right: 50px;
}

/* Home
======================================================= */

.home-wrapper {
  background-color: $green;
  height: 100%;
}
.background {
  position: relative;
  background-color: white;
  background-image: image-url('background1.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-position: center left;
  height: 500px;
}
.text-box {
  position: absolute;
  top: 60%;
  width: 220px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}
.days-left {
  font-weight: 600;
}
.content.home {
  height: 400px;
  padding: 20px 0;
  color: white;
}

/* Weather Center
======================================================= */

.today {
  background-color: lightgray;
  padding: 10px;
  .temp {
    display: inline-block;
    font-weight: 600;
    font-size: 80px;
  }
  .details {
    display: inline-block;
  }
  .wind-mph {
    font-weight: 600;
  }
}
.day-container {

  background-color: lightgray;
}
.forecast-day {
  display: table;
  padding: 10px;
  margin: 25px 0;
  .forecast-cell {
    display: table-cell;
    vertical-align: middle;
  }
  .day {
    font-size: 28px;
    width: 20%;
    width: 120px;
  }
  .high {
    font-size: 34px;
    font-weight: 600;
    width: 60px;
  }
  .low {
    font-size: 22px;
    width: 70px;
  }
  .precip {
    text-align: center;
    width: 80px;
  }
  .precip-text {
    font-size: 10px;
    margin-bottom: 6px;
    // font-weight: 600;
  }
  .precip-chance {
    font-size: 16px;
    font-weight: 600;
  }
  .sun {
    padding-left: 20px;
    width: 130px;
  }
  .sun-type {
    padding-right: 4px;
    font-size: 12px;
    // font-weight: 600;
  }
  .sun-time {
    font-size: 14px;
    font-weight: 600;
  }
  .summary {
    padding-left: 20px;
    font-size: 13px;
    line-height: 16px;
  }
}
