/*
 *= require jquery.ui.datepicker
 *= require_self
 *= require_tree .
 */

/* Border Box Sizing
======================================================= */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* CSS Reset
======================================================= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: sans-serif;
}
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Hardware acceleration
======================================================= */

.boost {
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

/* SCSS variables
======================================================= */

$green: #24632B;
$darkblue: #0F3E7F;
$lightblue: #81CBFF;
$lightorange: #EB7F40;
$orange: #FF5A27;
$gray: #424241;
$darkgray: #282828;

$header-height: 70px;
$content-width: 960px;

/* General
======================================================= */

body {
  background-color: $green;
}
a {
  color: inherit;
  text-decoration: none;
}
.content {
  width: $content-width;
  margin: 0 auto;
}
.page-container {
  margin-top: 20px;
}
.page-title {
  font-weight: 300;
  font-size: 60px;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}
.green-background {
  color: white;
}

/* Header
======================================================= */

.header-wrapper {
  background-color: white;
  height: $header-height;
  color: $gray;
}
.logo {
  display: inline-block;
  // height: 40px;
  // width: 96px;
  // border: 4px solid $darkblue;
  // border-radius: 8px;
  margin-right: 10px;
}
.logo img {
  // padding-top: 6px;
  // margin-left: 6px;
  vertical-align: bottom;
  width: 100px;
}
.site-title {
  display: inline-block;
  line-height: $header-height;
  font-size: 30px;
  font-weight: 700;
  color: $green;
  padding-right: 30px;
}
.nav-link {
  display: inline-block;
  font-size: 14px;
  padding-right: 20px;
}

/* Login
======================================================= */

.login-container {
  background-color: $darkblue;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.login {
  background-color: white;
  width: 580px;
  margin: 140px auto 0 auto;
  border-radius: 8px;
  // border: 1px solid gray;
  padding: 40px 10px;
}
.field.title {
  font-weight: 700;
  font-size: 24px;
  color: $green;
  margin-bottom: 24px;
  // text-align: right;
}
.field {
  width: 60%;
  margin: 0 auto;
  input {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    color: $gray;
    background-color: #FAFAFA;
    padding: 18px 10px;
    outline: none;
  }
  .upper {
    border-radius: 5px 5px 0 0;
    margin-bottom: -2px;
    border: 1px solid gray;
  }
  .middle {
    border-color: gray;
    border-width: 0 1px 1px 1px;
    margin-bottom: -2px;
  }
  .lower {
    border-radius: 0 0 5px 5px;
    border-color: gray;
    border-width: 0 1px 1px 1px;
  }
  .single-field {
    border-radius: 5px;
    border: 1px solid gray;
  }
  .button {
    margin-top: 20px;
    font-weight: 400;
    color: white;
    padding: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .button-green {
    background-color: $green;
  }
  .button-blue {
    background-color: $darkblue;
  }
  .button:hover {
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
  }
  .button-green:hover {
    background-color: #34893c;
  }
  .button-blue:hover {
    background-color: #11478e;
  }
  ::-webkit-input-placeholder { font-size: 14px; }
  ::-moz-placeholder { font-size: 14px; } /* firefox 19+ */
  :-ms-input-placeholder { font-size: 14px; } /* ie */
  input:-moz-placeholder { font-size: 14px; }
}
.alert {
  font-weight: 700;
  color: $orange;
  margin-bottom: 6px;
}
.login-link {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  color: $gray;
  a:hover {
    color: $orange;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
  }
}

/* Home
======================================================= */

.home-wrapper {
  background-color: $green;
  height: 100%;
}
.background {
  position: relative;
  background-color: white;
  background-image: image-url('background1.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-position: center left;
  height: 500px;
}
.text-box {
  position: absolute;
  top: 60%;
  width: 220px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}
.days-left {
  font-weight: 700;
}
.content.home {
  height: 400px;
  padding: 20px 0;
  color: white;
}

/* Weather Center
======================================================= */

.today {
  background-color: lightgray;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 25px;
  .today-header {
    font-weight: 700;
    font-size: 22px;
    color: $darkblue;
  }
  .temp {
    display: inline-block;
    font-weight: 700;
    font-size: 80px;
  }
  .details {
    display: inline-block;
  }
  .wind-mph {
    font-weight: 700;
  }
}
.seven-day-container {
  background-color: lightgray;
  border-radius: 3px;
  padding: 16px 10px;
  margin-bottom: 25px;
}
.seven-day-header {
  font-weight: 700;
  font-size: 22px;
  color: $darkblue;
  margin-bottom: 6px;
}
.seven-day-summary {
  font-weight: 700;
}
.day-container {
  background-color: lightgray;
  border-radius: 3px;
}
.forecast-day {
  display: table;
  padding: 10px;
  margin: 25px 0;
  .forecast-cell {
    display: table-cell;
    vertical-align: middle;
  }
  .day {
    color: $darkblue;
    font-size: 28px;
    font-weight: 700;
    width: 20%;
    width: 120px;
  }
  .high {
    font-size: 34px;
    font-weight: 700;
    width: 60px;
  }
  .low {
    font-size: 22px;
    width: 70px;
  }
  .precip {
    text-align: center;
    width: 70px;
  }
  .precip-text {
    font-size: 10px;
    margin-bottom: 6px;
    // font-weight: 700;
  }
  .precip-chance {
    font-size: 16px;
    font-weight: 700;
  }
  .sun {
    padding-left: 20px;
    width: 130px;
    line-height: 16px;
  }
  .sun-type {
    padding-right: 4px;
    font-size: 12px;
    // font-weight: 700;
  }
  .sun-time {
    font-size: 14px;
    font-weight: 700;
  }
  .summary {
    padding-left: 20px;
    font-size: 14px;
    line-height: 16px;
  }
}

/* History
======================================================= */

.year {
  // border-bottom: 2px solid $gray;
  text-align: center;
  padding: 20px 0;
}
.year.odd {
  background-color: $lightblue;
}
.year.even {
  background-color: #519fff;
}
.year-title {
  font-weight: 700;
  color: $darkgray;
  font-size: 30px;
  margin-bottom: 20px;
}
.trip {
  display: inline-block;
  vertical-align: top;
  background-color: white;
  padding: 10px;
  width: 200px;
  min-height: 120px;
  border: 2px solid lightgray;
  border-radius: 5px;
  text-align: center;
  margin: 0 4px 20px 4px;
}
.person {
  font-weight: 300;
  line-height: 18px;
  color: $gray;
}
.person a:hover {
  color: $orange;
}


/* Calendar
======================================================= */

#calendar .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 80px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

#calendar #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#calendar ul {
  font-size: 11px;
  padding-left: 20px;
}
